@model treasureBooks.ViewModel.ShelfAddVM

@{
    ViewData["Title"] = "AddNewShelf";
}

<h1>AddNewShelf</h1>
<h2>@ViewBag.Name @ViewBag.Id</h2>
@if (Model.ErrorMessage != null)
{
    <h1 style="color: red">@Model.ErrorMessage</h1>
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddNewShelf" method="post">
            @Html.AntiForgeryToken();

            @Html.HiddenFor(m => m.LibraryId)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Height" class="control-label"></label>
                <input asp-for="Height" class="form-control" />
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Width" class="control-label"></label>
                <input asp-for="Width" class="form-control" />
                <span asp-validation-for="Width" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="LibraryId" class="control-label"></label>
                <input asp-for="LibraryId" class="form-control" />
                <span asp-validation-for="LibraryId" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="NameLibrary" class="control-label"></label>
                <input asp-for="NameLibrary" class="form-control" />
                <span asp-validation-for="NameLibrary" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="ErrorMessage" class="control-label"></label>
                <input asp-for="ErrorMessage" class="form-control" />
                <span asp-validation-for="ErrorMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}